@tailwind base;
@tailwind components;
@tailwind utilities;
 


.search-div-hover:hover{
    box-shadow: 0 1px 6px 1px rgb(221, 221, 221);
}


.animate-span{
    position: absolute;
    top: 14px;
    left: 15px;
    transition:all .1s linear;
    color: rgb(99, 99, 99);
}


.animate-input:invalid + span.animate-span ,
.animate-input:focus + span.animate-span {
    top: -13px;
    left: 8px;
    font-size: .8rem;
    display: block;
    padding:2px 4px;
    background: #fff;
    color: rgb(0, 60, 255);
}
